
* {
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

/* Targets the header, creates flex box, puts items in a row */
header {
    display: flex;
    flex-direction: row;
    background-color: royalblue;
    align-items: center;
}

header img {
    height: 100px;
    margin: 20px;
    width: 100px;
   }

h1 {
    font-size: 56px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

h2{
    border-bottom: 2px solid blue;
    padding: 10px;
    text-align: right;
    margin-right: auto;
    margin-left: 20px;
    flex-shrink: 0;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

article {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

/* Changes the margin of the nav so that the ul elements can go to the right of the page */
nav {
    margin-left: auto;
}

/* Targets the unordered list in the nav, creates and sets flex box properties, removes bullet points, puts content to right side of screen */
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    text-align: center;
}

nav ul li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

div p {
 margin: 25px;
 color:white;
 /* background-color: royalblue; */
 font-size: 24px;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-weight: 800;
}
   
#contact-info {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
   }
   
#contact-info p {
       margin-left: 60px;
       margin-right: 250px;
       text-align: center;
       justify-content: center;
   }
   
#my-work article {
    display: flex;
    flex-flow: row wrap;
    /* width: 50%; */
   }

#my-work {
  width: 50%;
}

#my-work .article-1 {
    width: 100%;
   }

#contact-info h2{
    border-bottom: 0px;
    border-right: 2px solid blue;
   }

.banner {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   }

#my-work {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
   }

.nav-links {
    display: flex;
    /* justify-content: space-between; */
    flex-flow: column wrap;
}


