
* {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana,  sans-serif;
   color: lightblue;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #404040;;
    align-items: center;
}

header img {
    height: 100px;
    margin: 20px;
    width: 100px;
   }

h1 {
    font-size: 56px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

h2{
    border-bottom: 2px solid blue;
    padding: 10px;
    text-align: right;
    margin-right: auto;
    margin-left: 20px;
    flex-shrink: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 36px;
    color: white;
}

nav {
    margin-left: auto;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

article {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

nav ul li {
    margin: 20px;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: orange;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px 10px;
    white-space: nowrap;
}

div p {
   color:orange;
   font-size: 36px;
   font-family:'Brush Script MT, Brush Script Std, cursive, sans-serif';
}

article a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-info div p{
   margin: 50px;
}

#about-me {
   display: flex;
   flex-direction:column;
}

#contact-info {
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: #404040;
    flex-wrap: nowrap;
}

#contact-info div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#contact-info p {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
} 

#contact-info p a {
    text-decoration: none;
    color: orange;
    font-size: 50%;
    text-align: center;
}
   
#my-work article {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-work #article-1 {
    width: 100%;
}

#my-work img {
    border: 2px solid black;
    border-radius: 10px;
}


#contact-info h2{
    border-bottom: 0px;
    border-right: 2px solid blue;
}
   
#my-work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#my-work img {
   width: 50%;
   margin: 15px;
}

#article-1 img {
   width: 100%;
}

#project-links {
    display: flex;
    flex-flow: row wrap;
}

.banner {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-shadow: 0px 0px 5px blue, 0px 0px 25px black, 0px 0px 35px orange;
    
   }

@media screen and (max-width: 820px) {
    #my-work article {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    #article-1 img {
           width: 50%;
    }

    #contact-info {
        flex-direction: column;
        margin-right: 0px;
    }

    #contact-info h2{
        border-bottom: 2px solid blue;
        border-right: 0px;
    }

    #contact-info p {
        margin-right: 50px;
        font-size: 200%;
    }

    #contact-info div {
        flex-direction: column;
    }
   
    h2 {
        text-align: center;
        padding: 0px;
        margin-left: 0px;
        }

    section {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
        
    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    nav a {
        padding: 10px 20px;
    }
      
    .nav-links h2 {
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
   }
   
@media screen and (max-width:490px) {

    header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    nav {
    margin-left: none;
    margin-right: auto;
    }

    header img {
        height: 200px;
        width: 200px;
    }
   
    
    div p {
    font-size: 20px;
    }
   

    h1 {
    text-align: center;
    }

    nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    nav ul li a {
        padding: 15px 50px;
        font-size: 125%;
    }

     #contact-info {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 0px;
    }
   
    #contact-info p {
        text-align: center;
        margin: 0px;
        margin: 30px 0px;
    }
    
    #contact-info p a {
        display: block;
        margin-bottom: 10px;
    }
    }